<!DOCTYPE html>
<html>
<title>Overview</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/overview" class="w3-bar-item w3-button w3-padding-large w3-white">OVERVIEW</a>
    <a href="/visualization" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">DATA</a>
    <a href="C:\Users\prashant\Desktop\livedemo.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">LIVE DEMO</a>
    <a href="C:\Users\prashant\Desktop\Analytics.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">ANALYTICS</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">ABOUT US</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">DATA</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">LIVE DEMO</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">ANALYTICS</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">ABOUT US</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">MONEY TRACKER</h1>
  <p class="w3-xlarge">Money Laundering Detection Tool</p>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">DEMO-TRY IT NOW</button>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Problem :- We are facing</h1>
      <h5 class="w3-padding-32"></h5>

      <p class="w3-text-grey">In our bank,trillions of transactions happens,out of which millions of suspicious cases are generated.We at HSBC,have been monitoring and investigating Anti Money Laundering in the same way for past two decades and we have all experienced very high false positive rates and low (sometimes zero) disclosure rates to the regulator.</p>
      <p class="w3-text-grey">By use of Machine Intelligence techniques,We can reduce large amount of false positives and thus we can focus our approach to fight against financial crime and various illegal activities.</p>
    </div>

    <div class="w3-third w3-center">
      Hello
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Our Objective</h1>
      <h5 class="w3-padding-32">We are here to shoulder the responsibility to protect our bank from Regulatory,Reputational and Financial Risk and thus saves our bank from spending millions of dollars.We aims to monitor transactions effectively and thus detecting money laundering cases early.</h5>

      <p class="w3-text-grey">Our tool goes through following stages:-Starting from Data Segmentation and Cleaning,then proceeding to Machine Learning and generating a model for classifying a case to be suspicious.</p>
	  
      <p class="w3-text-grey">Feature selection is also performed through use of Python algorithms to identify the important parameters which plays significant role for final decision.Features are also visualised through 3D Visualisation techniques. </p>
	</div>
  </div>
</div>

<div class="w3-row-padding w3-padding-64 w3-container">
	<img src="C:\Users\prashant\Desktop\workflow.png" alt="Image" class="center">
</div>
<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"><a href="https://www.hsbc.co.in" target="_blank">Learn more about our Money Laundering Detection Tool</button></h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
 <p>Powered by <a href="https://www.hsbc.co.in" target="_blank">HSBC Technology India</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>