<!doctype html>

<title> AntiMoneyLaunderingDetection </title>
<head>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/datamaps/0.5.8/datamaps.all.js"></script>


<title>DATASHEET</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


#heading {
    background-color: #00B0FF;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    padding: 20px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 45px;
    margin: 8px 10px;
}


div.heading {
    margin-top: 40px;
    margin-bottom: 20px;
    color : white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}


div.row{

    margin : 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;

}

div.title1{

    margin-left : 150px;
    margin-top : 20px;
    margin-bottom : 10px;
    color : #039BE5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;

}

div.title12{

    margin-left : 260px;
    margin-top : 20px;
    margin-bottom : 10px;
    color : #039BE5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

}

div.title3{

    margin-left : 200px;
    margin-top : 20px;
    margin-bottom : 20px;
    color : #039BE5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;

}

div.title4{

    margin-left : 10px;
    margin-top : 20px;
    margin-bottom : 20px;
    color : #039BE5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

}

#container {
    height: 700px; 
    min-width: 310px; 
    margin: 0 auto; 
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

#statsid{
    margin-top : 150px;
    margin-left : 40px;
    max-width : 1100px;
}




</style>

</head>

<body class="body" style="background-color: #FFFFFF;">
      
      <!--
      <button type="button" onclick="loadFactorDataGraph()" > Update </Button>
      -->
     
      <div class="heading" align="center">
       <button id="heading"> Money Tracker </Button>
	  </div>

      <!-- This div contains graphs for the comparison of both the approaches-->
        <div class="comparision">
            <div class="row" style="width: 48%; float:left; height:600px">
            <canvas id="mlgraph"></canvas>
                <div class="title1">
                Machine Learning based system
                </div>            
            <script>
                var ctx = document.getElementById('mlgraph').getContext('2d');
                var chartt = new Chart(ctx, {
                // The type of chart we want to create
            type: 'line',

                // The data for our dataset
            data: {
                labels: [0, 1, "2", "3", "4", "5", "6", "7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23",
                         "24","25","26","27","28","29","30","31",
                         "32","33","34","35","36","37","38","39","40"
                    ],
                datasets: [{
                    label: "True Positive",
                    backgroundColor: '#009688',
                    borderColor: '#009688',
                    data: [ ,  1,1,1,1, ,,1,1,1,1,1,1,1,,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1, , ],
                },
                {
                    label: "False Positive",
                    backgroundColor: '#EF5350',
                    borderColor: '#EF5350',
                    data: [, , ,,,-1,-1,,,,,,,-1,-1,,,,,,,,,,,,,,,,,,,,,,, ],
                },
                {
                    label: " ",
                    showLine : false,
                    backgroundColor: '#FFFFFF',
                    borderColor: '#FFFFFF',
                    data: [1.2, -1.2,],
                },
                ]
            },

            // Configuration options go here
            options : {
                  scales: {
                    yAxes: [{
                      scaleLabel: {
                        display: true,
                            labelString: 'False Positive     vs    True Positive'
                      }
                    }]
                      }
                    }
            });
            
            <!-- JAVASCRIPT CODE FOR AJAX CALLS-->
            
            
            $(document).ready(function() {
  
          //factor_graph_updater()
          console.log("Graph updation Started automatically! ")
          intialDataFetchML();
    });
    
    var intialDataFetchML = function () {
    console.log("Graph updating.. ml based")
    var updatedData = $.get('/getdataML');
    updatedData.done(function(results){
        
        console.log('efficiency is :'+results.efficiency);
        
        
        
        //updating chart
            console.log('Updated');
        //setting label for whole chart
            chartt.data.labels = results.allLabelList;
        //for positive chats
            chartt.data.datasets[0].data = results.positiveCaseList;
        //for negetive chats
            chartt.data.datasets[1].data = results.negetiveCaseList;
            chartt.update(1000);
        
                    
    });
       };
       
       var intialDataFetchRuleBased = function () {
    console.log("Graph updating..Rule based")
    var updatedData = $.get('/getdataRuleBased');
    updatedData.done(function(results){
        
        console.log('efficiency is :'+results.efficiency);
        
        
        
        //updating chart
            console.log('Updated');
        //setting label for whole chart
            chartRL.data.labels = results.allLabelList;
        //for positive chats
            chartRL.data.datasets[0].data = results.positiveCaseList;
        //for negetive chats
            chartRL.data.datasets[1].data = results.negetiveCaseList;
            chartRL.update(1000);
        
                    
    });
       };
       
      
            
            </script>

        </div>

        <div class="row" style="width: 48%; float:right; height:600px">
        <canvas id="rulebasedgraph"></canvas>    
                <div class="title12">
                Rule based system
                </div>            
             <script>
                 var ctx = document.getElementById('rulebasedgraph').getContext('2d');
                var chartRL = new Chart(ctx, {
                // The type of chart we want to create
            type: 'line',

                // The data for our dataset
            data: {
                labels: ["0", "1", "2", "3", "4", "5", "6", "7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23",
                         "24","25","26","27","28","29","30","31",
                         "32","33","34","35","36","37","38","39","40"
                    ],
                datasets: [{
                    label: "True Positive",
                    backgroundColor: '#009688',
                    borderColor: '#009688',
                    data: [ ,  1,1,1,1, ,,,1,1,,1,1,1,,1,1,1,1,1,1,1,1,,,1,1,1,1,1,,,1,1,1,1,,, , ],
                },
                {
                    label: "False Positive",
                    backgroundColor: '#EF5350',
                    borderColor: '#EF5350',
                    data: [, , ,,,-1,-1,-1,-1,,,,,-1,-1,,,,,,,,,-1,-1,-1,,,,,-1,-1,-1,,-1,-1,-1, ],
                },
                {
                    label: " ",
                    showLine : false,
                    backgroundColor: '#FFFFFF',
                    borderColor: '#FFFFFF',
                    data: [1.2, -1.2,],
                },
                ]
            },

            // Configuration options go here
            options : {
                  scales: {
                    yAxes: [{
                      scaleLabel: {
                        display: true,
                            labelString: 'False Positive     vs    True Positive'
                      }
                    }]
                      }
                    }
            });
            
             $(document).ready(function() {
  
          //factor_graph_updater()
          console.log("Graph updation Started automatically! ")
          intialDataFetchRuleBased();
    });            
            
            var intialDataFetchRuleBased = function () {
    console.log("Graph updating..Rule based")
    var updatedData = $.get('/getdataRuleBased');
    updatedData.done(function(results){
        
        console.log('efficiency is :'+results.efficiency);
        
        
        
        //updating chart
            console.log('Updated');
        //setting label for whole chart
            chartRL.data.labels = results.allLabelList;
        //for positive chats
            chartRL.data.datasets[0].data = results.positiveCaseList;
        //for negetive chats
            chartRL.data.datasets[1].data = results.negetiveCaseList;
            chartRL.update(1000);
        
                    
    });
       };
            
            </script>

        </div>
    
      </div>

    <div class="comparision"> 
    
    <div id="statsid"class="row" style="width: 48%; float:left; height:600px">
        
         <canvas id="statistics"></canvas>    

<div class="title3" style="width: 35%; float:left;">
                 # Money laundering case vs account types
                </div> 
    </div>
    
    <script>	
		<!-- graphs for row2 -->
	var ctx = document.getElementById('statistics').getContext('2d');
	var chart = new Chart(ctx, {
       // The type of chart we want to create
       type: 'bar',

       // The data for our dataset
       data: {
        labels: ["Personal", "Corporate", "Government", "Private", "NGO"],
        datasets: [{
            backgroundColor: ['#FDD835','#DD2C00','#CDDC39','#FF6D00','#69F0AE'],

            borderColor: ['#42A5F5','#C62828','#42A5F5','#C6FF00','#6A1B9A'],
            data: [25, 50, 20, 38, 15,0],
        }]
        },

    // Configuration options go here
    options: {
  scales: {
    yAxes: [{
      scaleLabel: {
        display: true,
        labelString: '#  Money Laundering Cases'
      }
    }]
  }
}
});
	
	$(document).ready(function() {
  
          //factor_graph_updater()
          console.log("Graph updation Started automatically! ")
          intialDataFetchStats();
    });
    
    var intialDataFetchStats = function () {
    console.log("Graph updating.. ml based")
    var updatedData = $.get('/getdataML');
    updatedData.done(function(results){
        
        console.log('personal count is :'+results.personal);
        
        
        
        //updating chart
            console.log('Updated');
        //setting label for whole chart
            chartt.data.labels = results.allLabelList;
        //for positive chats
            chartt.data.datasets[0].data = results.positiveCaseList;
        //for negetive chats
            chartt.data.datasets[1].data = results.negetiveCaseList;
            chartt.update(1000);
        
                    
    });
       };
	

</script>

<div id="container1" class="row" style="width: 43%; float:right; height:500px">
    
    </div>

</div>

<script>
    // example data from server
    var series = [
        ["BLR",75],["BLZ",43],["RUS",50],["RWA",88],["SRB",21],["TLS",43],
        ["REU",21],["TKM",19],["TJK",60],["ROU",4],["TKL",44],["GNB",38],
        ["GUM",67],["GTM",2],["SGS",95],["GRC",60],["GNQ",57],["GLP",53],
        ["JPN",59],["GUY",24],["GGY",4],["GUF",21],["GEO",42],["GRD",65],
        ["GBR",14],["GAB",47],["SLV",15],["GIN",19],["GMB",63],["GRL",56],
        ["ERI",57],["MNE",93],["MDA",39],["MDG",71],["MAF",16],["MAR",8],
        ["MCO",25],["UZB",81],["MMR",21],["MLI",95],["MAC",33],["MNG",93],
        ["MHL",15],["MKD",52],["MUS",19],["MLT",69],["MWI",37],["MDV",44],
        ["MTQ",13],["MNP",21],["MSR",89],["MRT",20],["IMN",72],["UGA",59],
        ["TZA",62],["MYS",75],["MEX",80],["ISR",77],["FRA",54],["IOT",56],
        ["SHN",91],["FIN",51],["FJI",22],["FLK",4],["FSM",69],["FRO",70],
        ["NIC",66],["NLD",53],["NOR",7],["NAM",63],["VUT",15],["NCL",66],
        ["NER",34],["NFK",33],["NGA",45],["NZL",96],["NPL",21],["NRU",13],
        ["NIU",6],["COK",19],["XKX",32],["CIV",27],["CHE",65],["COL",64],
        ["CHN",06],["CMR",70],["CHL",15],["CCK",85],["CAN",76],["COG",20],["IND",24],
        ["CAF",93],["COD",36],["CZE",77],["CYP",65],["CXR",14],["CRI",31],
        ["CUW",67],["CPV",63],["CUB",40],["SWZ",58],["SYR",96],["SXM",31]];


    // Datamaps expect data in format:
    // { "USA": { "fillColor": "#42a844", numberOfWhatever: 75},
    //   "FRA": { "fillColor": "#8dc386", numberOfWhatever: 43 } }
    var dataset = {};

    // We need to colorize every country based on "numberOfWhatever"
    // colors should be uniq for every value.
    // For this purpose we create palette(using min/max series-value)
    var onlyValues = series.map(function(obj){ return obj[1]; });
    var minValue = Math.min.apply(null, onlyValues),
            maxValue = Math.max.apply(null, onlyValues);

    // create color palette function
    // color can be whatever you wish
    var paletteScale = d3.scale.linear()
            .domain([minValue,maxValue])
            .range(["#8BC34A","#F44336"]); // red color

    function colorr(value)
    {
        col = null;
        if(value<10)
        {
            col = "#4CAF50";
        }
        else if (value >=10 && value <=40)
        {
            col = "#FFC107";
        }
        
        else
        {
            col = "#F44336";
        }
        return col;
            
    }

    // fill dataset in appropriate format
    series.forEach(function(item){ //
        // item example value ["USA", 70]
        var iso = item[0],
                value = item[1];
        dataset[iso] = { numberOfThings: value, fillColor: colorr(value) };
    });

    // render map
    new Datamap({
        element: document.getElementById('container1'),
        projection: 'mercator', // big world map
        // countries don't listed in dataset will be painted with this color
        fills: { defaultFill: '#F5F5F5' },
        data: dataset,
        geographyConfig: {
            borderColor: '#DEDEDE',
            highlightBorderWidth: 2,
            // don't change color on mouse hover
            highlightFillColor: function(geo) {
                return geo['fillColor'] || '#F5F5F5';
            },
            // only change border
            highlightBorderColor: '#B7B7B7',
            // show desired information in tooltip
            popupTemplate: function(geo, data) {
                // don't show tooltip if country don't present in dataset
                if (!data) { return ; }
                // tooltip content
                return ['<div class="hoverinfo">',
                    '<strong>', geo.properties.name, '</strong>',
                    '<br>Count: <strong>', data.numberOfThings, '</strong>',
                    '</div>'].join('');
            }
        }
    });
</script>

 <div > 

<div class="title3" style="width: 35%; float:left;">
                 World wise alerts analysis
                </div> 
<div class="title4" style="width: 25%; float:right;">
                .
                </div> 
    
</div>	   
    
    

	  
</body>