<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">


<style>
    #container1 { border:1px dotted blue; width: 700px; height: 475px; position: relative; }
  </style>
</head>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/datamaps/0.5.8/datamaps.all.js"></script>


<title>DATASHEET</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
h1 {
    background-color: #2196F3;
    color : white;
    text-align : center;
    margin-top : 30px;
    margin-bottom : 30px; 
    font-family: "Times New Roman", Times, serif;
}
h2 {
    background-color: #2196F3;
    color : white;
    max-width : 400px; 
    text-align : center;
}

div.imageData{
    
}

th.thh{
   background-color : #2196F3;
   color : white;
}

div {
    background-color: white;
}
p.indent{ padding-left: 4.8em }
p.indent2{ padding-left: 9.8em }
p {
    background-color: light-green;
}
body{
color:#757575;
}

#tablee{
    margin-bottom: 50px;
    margin-left : 50px;
    margin-right: 50px;
}

</style>
<body>

<div class="w3-container">
   
   
<center><h1 align="center">DATA GENERATION AND FEATURING </h1> </center>
 
 <!--
  <p class="indent">For Analysis Purposes,We have generated our data and simulated it as the real HSBC data after talking to various stakeholders<br/>
	We have considered following parameters,<br/>
	<p class="indent2">=>Account Type -- It shows the type of account of consumer<br/>
			Values-	Personal,Corporate,Government,Private,NGO<br/></p>
	<p class="indent2">=>Transaction Type --It reflects the mode of the transaction<br/>
			Values- Payment,Debit,Transfer,Cash-in,Cash-out<br/></p>
	<p class="indent2">=>Amount -- Value of the transaction Money<br/>
			Values- 5000-50000<br/></p>
	<p class="indent2">=>Month -- It shows the month of the transaction<br/>
			Values- 1,2,3,4,5,6,7,8,9,10,11,12<br/></p>
	<p class="indent2">=>Transaction Timing -- This reflects the period of transaction<br/>
			Values- Usual,Unusual<br/></p>
	<p class="indent2">=>Location Risk -- This parameter shows the risk of the geographical location where transaction takes place<br/>
			Values-High,Medium,Low<br/></p>
	<p class="indent2">=>Average Transactions -- This shows the average number of transactions<br/>
			Values- 1-100<br/></p>
<br/>
</p>

<center> <h2>SAMPLE DATA</h2> </center>

 -->
 
  <table class="w3-table-all w3-small" id="tablee">
    <tr>   
    <th class="thh">time</th>
    <th class="thh">type</th>
    <th class="thh">amount</th>
    <th class="thh">nameOrig</th>
    <th class="thh">oldbalanceOrg</th>
    <th class="thh">newbalanceOrig</th>
    <th class="thh">nameDest</th>
    <th class="thh">oldbalanceDest</th>
    <th class="thh">newbalanceDest</th>
    <th class="thh">isFraud</th>
    <th class="thh">isFlaggedFraud</th>
    </tr>
    
    
<tr><<td>51</td><td>PAYMENT</td><td>9839.64</td><td>C1231006815</td><td>170136.0</td><td>160296.36</td><td>M1979787155</td><td>0.0</td><td>0.0</td><td>0</td><td>0</td></tr>
<tr><td>8</td><td>PAYMENT</td><td>1864.28</td><td>C1666544295</td><td>21249.0</td><td>19384.72</td><td>M2044282225</td><td>0.0</td><td>0.0</td><td>0</td><td>0</td></tr>
<tr><td>12</td><td>TRANSFER</td><td>181.0</td><td>C1305486145</td><td>181.0</td><td>0.0</td><td>C553264065</td><td>0.0</td><td>0.0</td><td>1</td><td>0</td></tr>
<tr><td>25</td><td>CASH_OUT</td><td>181.0</td><td>C840083671</td><td>181.0</td><td>0.0</td><td>C38997010</td><td>21182.0</td><td>0.0</td><td>1</td><td>0</td></tr>
<tr><td>29</td><td>PAYMENT</td><td>11668.14</td><td>C2048537720</td><td>41554.0</td><td>29885.86</td><td>M1230701703</td><td>0.0</td><td>0.0</td><td>0</td><td>0</td></tr>
<tr><td>56</td><td>PAYMENT</td><td>7817.71</td><td>C90045638</td><td>53860.0</td><td>46042.29</td><td>M573487274</td><td>0.0</td><td>0.0</td><td>0</td><td>0</td></tr>
<tr><td>68</td><td>PAYMENT</td><td>7107.77</td><td>C154988899</td><td>183195.0</td><td>176087.23</td><td>M408069119</td><td>0.0</td><td>0.0</td><td>0</td><td>0</td></tr>
<tr><td>78</td><td>PAYMENT</td><td>7861.64</td><td>C1912850431</td><td>176087.23</td><td>168225.59</td><td>M633326333</td><td>0.0</td><td>0.0</td><td>0</td><td>0</td></tr>
<tr><td>146</td><td>PAYMENT</td><td>4024.36</td><td>C1265012928</td><td>2671.0</td><td>0.0</td><td>M1176932104</td><td>0.0</td><td>0.0</td><td>0</td><td>0</td></tr>
<tr><td>246</td><td>DEBIT</td><td>5337.77</td><td>C712410124</td><td>41720.0</td><td>36382.23</td><td>C195600860</td><td>41898.0</td><td>40348.79</td><td>0</td><td>0</td></tr>
<tr><td>380</td><td>DEBIT</td><td>9644.94</td><td>C1900366749</td><td>4465.0</td><td>0.0</td><td>C997608398</td><td>10845.0</td><td>157982.12</td><td>0</td><td>0</td></tr>
<tr><td>428</td><td>PAYMENT</td><td>3099.97</td><td>C249177573</td><td>20771.0</td><td>17671.03</td><td>M2096539129</td><td>0.0</td><td>0.0</td><td>0</td><td>0</td></tr>
<tr><td>523</td><td>PAYMENT</td><td>2560.74</td><td>C1648232591</td><td>5070.0</td><td>2509.26</td><td>M972865270</td><td>0.0</td><td>0.0</td><td>0</td><td>0</td></tr>

    
    
    
  </table>

</div>

<div class="imageData">
    <center>
    <img src="{{url_for('static', filename='cc.png')}}" />
    </center>
</div>

</body>
</html>
