<!DOCTYPE html>
<html>
<title>DATASHEET</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
h1 {
    background-color: #2196F3;
    color : white;
    max-width : 800px; 
    text-align : center;
    margin-top : 20px; 
}
h2 {
    background-color: #2196F3;
    color : white;
    max-width : 400px; 
    text-align : center;
}

th.thh{
   background-color : #2196F3;
   color : white;
}

div {
    background-color: white;
}
p.indent{ padding-left: 4.8em }
p.indent2{ padding-left: 9.8em }
p {
    background-color: light-green;
}
body{
color:#757575;
}

#tablee{
    margin-bottom: 50px;
}

</style>
<body>

<div class="w3-container">
   
<center><h1 align="center">DATA ANALYSIS- GENERATION AND FEATURING </h1> </center>
  <p class="indent">For Analysis Purposes,We have generated our data and simulated it as the real HSBC data after talking to various stakeholders<br/>
	We have considered following parameters,<br/>
	<p class="indent2">=>Account Type -- It shows the type of account of consumer<br/>
			Values-	Personal,Corporate,Government,Private,NGO<br/></p>
	<p class="indent2">=>Transaction Type --It reflects the mode of the transaction<br/>
			Values- Payment,Debit,Transfer,Cash-in,Cash-out<br/></p>
	<p class="indent2">=>Amount -- Value of the transaction Money<br/>
			Values- 5000-50000<br/></p>
	<p class="indent2">=>Month -- It shows the month of the transaction<br/>
			Values- 1,2,3,4,5,6,7,8,9,10,11,12<br/></p>
	<p class="indent2">=>Transaction Timing -- This reflects the period of transaction<br/>
			Values- Usual,Unusual<br/></p>
	<p class="indent2">=>Location Risk -- This parameter shows the risk of the geographical location where transaction takes place<br/>
			Values-High,Medium,Low<br/></p>
	<p class="indent2">=>Average Transactions -- This shows the average number of transactions<br/>
			Values- 1-100<br/></p>
<br/>
</p>
<center> <h2>SAMPLE DATA</h2> </center>

  <table class="w3-table-all w3-small" id="tablee">
    <tr>
      <th class="thh">Account type</th>
      <th class="thh">Transaction type</th>
      <th class="thh">Amount</th>
      <th class="thh">Transaction Month</th>
      <th class="thh">Transaction Timing</th>
      <th class="thh">Location Risk</th>
      <th class="thh">Average Transactions</th>

    </tr>
    <tr>
      <td>personal</td>
      <td>transfer</td>
      <td>1956.25</td>
	<td>4</td>
	<td>usual</td>
	<td>high</td>
	<td>15</td>
    </tr>
       <tr>
      <td>govt</td>
      <td>transfer</td>
      <td>790890</td>
	<td>6</td>
	<td>unusual</td>
	<td>low</td>
	<td>50</td>
    </tr>    
	<tr>
      <td>govt</td>
      <td>debit</td>
      <td>227712.2</td>
	<td>8</td>
	<td>unusual</td>
	<td>high</td>	<td>36</td>
    </tr>    
	<tr>
      <td>ngo</td>
      <td>debit</td>
      <td>9195.97</td>
	<td>4</td>
	<td>usual</td>
	<td>low</td>
	<td>8</td>
    </tr>    <tr>
      <td>ngo</td>
      <td>payment</td>
      <td>86086.38</td>
	<td>4</td>
	<td>unusual</td>
	<td>high</td>
	<td>53</td>
    </tr>    <tr>
      <td>private</td>
      <td>cash-out</td>
      <td>130086</td>
	<td>7</td>
	<td>usual</td>
	<td>low</td>
	<td>25</td>
    </tr>    <tr>
      <td>personal</td>
      <td>cash-in</td>
      <td>123987</td>
	<td>5</td>
	<td>unusual</td>
	<td>high</td>
	<td>21</td>
    </tr>    <tr>
      <td>govt</td>
      <td>debit</td>
      <td>12496</td>
	<td>8</td>
	<td>usual</td>
	<td>low</td>
	<td>25</td>
    </tr>    <tr>
      <td>corporate</td>
      <td>debit</td>
      <td>133079</td>
	<td>1</td>
	<td>unusual</td>
	<td>high</td>
	<td>25</td>
    </tr>    <tr>
      <td>personal</td>
      <td>debit</td>
      <td>1147313</td>
	<td>3</td>
	<td>usual</td>
	<td>low</td>
	<td>25</td>
    </tr>
  </table>

</div>
<div id="container">

	<script>
/*

		var table = document.createElement('table'), tr, td, row, cell;
		table.className = 'w3-table-all w3-small';
for (row = 0; row < 10; row++) {
    tr = document.createElement('tr');
    for (cell = 0; cell < 12; cell++) {
        td = document.createElement('td');
        tr.appendChild(td);
        td.innerHTML = ;
    }
    table.appendChild(tr);
}
document.getElementById('container').appendChild(table);
*/
	</script> 
</div>

</body>
</html>
